[2015-07-01 21:31] DavidArno opened #1 "Union<T1, T2> comparisons are broken"
Comparing two Union<int, string>, where one is an int and the other is a string can result in equality being incorrectly reported, as exhibited via this code snippet:

[code]

The problem is that Union<int, string>("1234") will internally store the default value (0) for the `int` value and so  the two match.

[2015-07-01 21:32] DavidArno opened #2 "value equality for Union<T1, T2, T3> and Union<T1, T2, T3> hasn't beenimplemented"
The docs for 1.3.0 claim value equality works for Union<T1, T2, T3> and Union<T1, T2, T3>. Neither has yet been implemented though.

[2015-07-01 22:11] #1 closed, assigned to nobody

[2015-07-01 22:11] #2 closed, assigned to nobody

[2016-01-05 20:39] DavidArno opened #4 "Accessing the wrong case for Union<T1,T2> always reports Case2 as the error"

[2016-01-12 08:34] DavidArno commented on #4
Addressed by [commit db8e1e5](https://github.com/DavidArno/SuccincT/commit/db8e1e5c4c540fbb5c5204783440c476433c6ded).

[2016-01-29 19:54] DavidArno commented on #4
Fixed in 1.5.1

[2016-01-29 19:54] #4 closed, assigned to DavidArno

[2016-04-11 21:13] shekelator opened #5 "Would be nice to have a CaseOfType<T> override on unions"
The syntax of matching Case1, Case2, etc., could be more readable. It would be nice if there were a way to make it clear in the match which type was which. So instead of:

[code]

it  might allow something like:

[code]

I'm working on a PR for this as well, but thought I would at least create the issue first, in case you think it's a terrible idea.

[2016-04-12 09:21] DavidArno commented on #5
I _really_ like this idea. The only small change I'd suggest is to use `CaseOf`, rather than `CaseOfType`, but if you are happy to code it and submit a PR, I'll go with your solution.

[2016-04-12 18:43] shekelator commented on #5
Ok, I'm working on it. A bit stuck at the moment, so I won't be offended if anyone else wants to implement it. But will be circling back to try to make it work shortly.

[2016-04-12 21:28] DavidArno commented on #5
@shekelator,

Quick sanity check here. I have tried adding `CaseOf<T>` to `Union<T1,T2>`. However, as it's not possible to use OR to constrain a generic type, I can't do something like:

[code]

The best I can do is:

[code]

This means the following would be supported:

[code]

and that'll work fine. However, eg `CaseOf<string>()...` could be used in the above expression and cannot be checked for

[2016-04-13 00:59] shekelator commented on #5
To me that definitely sounds worth doing. I tried something similar, but was stuck on the same issue. Many thanks! Sorry I wasn't able to contribute it myself.

[2016-04-18 18:40] DavidArno commented on #5
This feature has been implemented in 1.6.0, which is now released.

[2016-04-18 18:40] #5 closed, assigned to nobody

[2016-06-06 12:44] DavidArno opened #6 "Succinct<T> v2 will introduce breaking changes to provide speed improvements and naming consistency"
## Introduction

v2.0.0 of Succinc<T> will introduce a number of changes, some of which are breaking changes for anyone using v1.x. The changes fall into four distinct categories detailed below. Please take the time to read the notes below before upgrading so you can:
1. understand what might break,
2. plan the fixing process and
3. decide if you can be bothered to make the changes to gain the ben

[2016-07-01 08:11] DavidArno commented on #6
v2.0.0 has been released. Closing this issue.

[2016-07-01 08:11] #6 closed, assigned to nobody

[2016-07-01 08:11] DavidArno commented on #6
v2.0.0 has been released. Closing this issue.

[2016-09-05 13:39] DavidArno opened #7 "Succinc<T> should support an option-based Dictionary.TryGetValue"
The `Dictionary` class supports `TryGetValue` using an `out` parameter and `bool` return type.

Succinc&lt;T&gt; should provide a the following extension method:

[code]

It should return `none` if the key doesn't exist and `Option<TValue>.Some` if it does.

[2016-09-16 16:23] DavidArno opened #8 "Add "any" option to tuple matching"
Currently, if we have a tuple, `(x, y)`, which we want to match on, and we are only interested in testing `x`, a `Where` must be used:

[code]

Add support for an `Any` type (which exposes a value singleton, `_`), that can be used with `With`:

[code]

[2016-09-16 16:46] DavidArno opened #9 "Add support for C# 7"
- [x] On the assumption that "pattern matching" in C# 7 will only consist of basic type-switching within the `switch` statement. Succinc&lt;T&gt; will need to continue supporting it's own pattern matching. With the new tuple features being added to the language, Succinc&lt;T&gt; should support the new `ValueTuple` types.
- [x] The `Cons` method, for splitting an enumeration into a head and tail sh

[2016-09-16 16:54] DavidArno opened #10 "Add a new Success<T> type"
`Success<T>` would effectively be the reverse of `Option<T>`, in that it would either contain `success` (effectively, `true`) or a value of `T`.

This type should be implicitly castable to `bool` (assuming that's possible), such that `success` casts to `true` and a value of `T` casts to `false`.

[2016-09-16 17:00] DavidArno opened #11 "Add a new `Indexed` method to IEnumerable<T> that returns IEnumerable<(int index, T item)>"
For C# 7, as it'll use the new tuple syntax, or add earlier and make a breaking-change conversion to the tuple syntax in v3.

Add a new method to `IEnumerable<T>`:

[code]

This can then be used in situations where the index, as well as the value, is needed when enumerating a collection:

[code]

[2016-11-30 09:43] DavidArno commented on #10
"Naming things is hard".

This is so true. Still trying to work out the  best name for the feature. Implementing it is trivial in comparison! 😕

[2016-12-02 20:13] DavidArno commented on #8
This work is currently on hold due to "discards" being added to C# 7 (see [Proposed changes for deconstruction, declaration expressions, and discards](https://github.com/dotnet/roslyn/issues/14794), which could affect the way this feature would work.

[2016-12-05 01:57] leenux opened #14 "Is this framework async?"
I can't find the framework async oper.

[2016-12-05 06:47] DavidArno commented on #14
There currently aren't any async features within the library as I've not yet identified any need for them.

What particular features do you feel would benefit from async support?

[2016-12-06 04:54] leenux commented on #14
Yes,I think so.
There are many systems that are constructed in an asynchronous fashion. The asynchronous system expects all components to be asynchronous to achieve a non blocking purpose.

[2016-12-06 08:42] DavidArno commented on #14
I'm still unsure what you are asking for. As none of Succinc&lt;T&gt;'s APIs are blocking in nature, adding `async` to those APIs would just make them slower. "*The asynchronous system expects all components to be asynchronous to achieve a non blocking purpose*" doesn't sound right to me. You only want routes through to blocking components to be async-based.

What specifically is it that you wish

[2016-12-08 14:32] DavidArno commented on #14
Closing this as it's unclear what's needed.

@leenux,
If you get a chance to clarify what you are asking for, I'll reopen it.

[2017-01-05 09:43] DavidArno opened #15 "Make use of C# 7 deconstruct feature to "super charge" IEnumerable<T> cons support"
Currently, Succinc&lt;T&gt; can be used to split an `IEnumerable<T>` into a head and tail via the following method:

[code]
With C# 7 deconstruction though, a simple `Deconstruct` extension method on `IEnumerable<T>` would not only allow the above to be written as:
[code]
But also, a deconstruction can be recursive, so to extract the first three items from a list and have `tail` represent the four

[2017-01-06 07:51] DavidArno opened #16 "Restructure pattern matchers to use/support new ValueTuples"
The various pattern matchers currently use tuples internally. Modify them to use the new syntactic/value tuples.

Additionally, added type-specific matchers to support pattern matching on (T1, T2) through (T1, T2, T3, T4).

[2017-01-06 20:55] rubiktubik opened #17 "Json Serializer for Union Type"
Hello i'am using your great library but
now i'am coming to a problem when i need to serialize my objects.
My objects use the the `Union<T0,T1>` type.
Is there a example how to serialize with JSON.Net for example?

Michael

[2017-01-06 21:17] DavidArno commented on #17
Oh, that's an interesting one. Bit embarrassing to admit, but it has never occurred to me that someone might want to serialise a union!

So the honest answer is that Succinc&lt;T&gt; has no support currently, but it's certainly something that can be added.

[2017-01-07 17:37] rubiktubik commented on #17
Too bad :-(
Then in the moment i need a way around it :-)

[2017-01-10 17:44] DavidArno commented on #17
@rubiktubik,

Quick update on this.

I don't want to make Succinc&lt;T&gt; itself dependent on JSON.Net, therefore I'll create a new SuccincT.JSON nuget package, which will include Succinc&lt;T&gt; itself and support for serializing union types to JSON. That serialization will likely be achieved via custom `JsonConverter` and `ContractResolver` classes, rather than by annotating the types with JSO

[2017-01-10 19:20] rubiktubik commented on #17
Yes!, that would be perfectly work!
I've seen similar approaches at other libraries.

Thank you for your effort.

[2017-01-16 14:37] megafinz opened #18 "Hard dependency on System.Runtime 4.1.0"
I was trying to use it in a WPF application targeting .Net Framework 4.6.1, but it crashed when code reached usage of SuccincT. Exception details imply that it wants System.Runtime.dll 4.1.0.0 but I had only 4.0.0.0 available in GAC. I had to install .Net 4.6.2 Developer Pack and retarget all my assemblies to 4.6.2 instead of 4.6.1, so I am able to install System.Runtime package from NuGet. The la

[2017-01-16 21:14] DavidArno commented on #18
Looking through various files:

`SuccincT\SuccincT.csproj` contains `<TargetFrameworkVersion>v4.0</TargetFrameworkVersion>`
`SuccincT.Core\project.json` depends on `"NETStandard.Library": "1.6.0"`
`SuccincT\SuccincT.nuspec` and `SuccincT\nuget-pack.bat` bundle `SuccincT.dll` and `SuccincT.Core.dll` into the nuget package...

but, `SuccincT.Core\SuccincT.Core.xproj` contains a `<TargetFrameworkVers

[2017-01-18 14:09] DavidArno commented on #17
Tasks required to complete this work:
- [x] Converter for `Option<>`
- [x] Converter for `Union<,>`
- [x] Converter for `Union<,,>`
- [x] Converter for `Union<,,,>`
- [x] Converter for `ValueOrError`
- [x] Converter for `Maybe<>`
- [x] Converter for `None`
- [x] Converter for `Unit`
- [x] ContractResolver that handles the above types
- [x] Wiki updates to document how to use the converters and Con

[2017-01-20 12:35] DavidArno commented on #18
Update on this.

I created a .NET Framework 4.6.2 test project and added Succinc&lt;T&gt; via nuget. This added a dependency to `SuccincT.Core.dll`. Running it, it does indeed die with an error complaining it's dependent on `System.Runtime` v4.1. I then pointed it directly at the `SuccincT.dll` and it all worked correctly. So .NET Framework projects do pick up the wrong version of the dll.

I have

[2017-01-21 18:29] DavidArno commented on #18
Further investigations has revealed:

1. Succinc&lt;T&gt; only works with projects that target framework v4.0 or Windows 8 (not 8.1). Every other framework results in this system runtime incompatibility problem.
2. I can hard-code dependencies into the `.nuspec` file to force the use of `SuccincT.dll` for framework v4.5+, Win 8.1+ etc.
3. However, and this is the killer, I can't work out how to cr

[2017-01-25 15:54] DavidArno commented on #14
Re-opening this issue.

There is benefit in me exploring supporting async lambdas/methods in pattern matching, `Ignore` and the like.

[2017-01-25 21:22] DavidArno commented on #18
[Succinc\<T\> v2.2.0 is now available on nuget](https://www.nuget.org/packages/SuccincT/). This release removes the dependency on .NET Core and thus fixes this issue.

[2017-01-25 21:22] #18 closed, assigned to nobody

[2017-01-25 21:28] DavidArno commented on #17
[Version 2.2.0 of SuccincT.JSON is now available on nuget](https://www.nuget.org/packages/SuccincT.JSON/), which supplies JSON serialization support for Succinc\<T\> types.

This is the first release, but the version number has been set to coincide with the compatible release of Succinc\<T\> itself.

Please see the [JSON Serialization page](https://github.com/DavidArno/SuccincT/wiki/JsonSerializat

[2017-01-25 21:28] DavidArno commented on #17
[Version 2.2.0 of SuccincT.JSON is now available on nuget](https://www.nuget.org/packages/SuccincT.JSON/), which supplies JSON serialization support for Succinc\<T\> types.

This is the first release, but the version number has been set to coincide with the compatible release of Succinc\<T\> itself.

Please see the [JSON Serialization page](https://github.com/DavidArno/SuccincT/wiki/JsonSerializat

[2017-01-25 21:28] #17 closed, assigned to nobody

[2017-01-26 09:23] megafinz opened #19 "TryGetValue for IDictionary<,>"
Currently that extension is defined for concrete Dictionary<,> type only. It would be nice if it works with all IDictionary<,> types.

[2017-01-26 10:18] DavidArno commented on #19
OK, that should be easy. Wish you'd raised this a couple of days ago though as I could have added it to the v2.2.0 release that came out yesterday! 😀

[2017-01-26 10:50] megafinz commented on #19
I wanted to do that myself and do a PR with a couple of other minor extensions that I use, but for some reason VS 2017 RC crashes when I try to open SuccincT.sln, VS 2015 complains about C# 7.0 language features and Rider is struggling with MSBuild scripts, so no luck with that.

[2017-01-26 10:59] DavidArno commented on #19
v2.2.0 was created from the `serialization` branch, which is still compatible with VS2015. So if you pull that branch over to your repo and check it out, you should be able to make changes in VS2015 and submit a PR.

In what way does the `master` branch crash VS2017? Does it give any meaningful error?

If you have problems, let me know and I'll see if I can assist.

[2017-01-27 12:30] megafinz commented on #19
`serialization` branch works well with both VS 2017 and 2015, but `master` just crashes IDE itself with no meaningful error. I tried starting VS with -Log switch, but I can't see any info about the crash in the log.

[2017-01-27 12:47] DavidArno commented on #19
OK, thanks. I'll add a note that master might crash VS2017, whilst it's pre-release, to the README.

[2017-01-27 12:49] megafinz commented on #19
Okay, I noticed that crash happens when SuccincT.Core project is being loaded. I removed it from the solution manually and now it opens just fine.

[2017-01-27 13:08] megafinz commented on #19
Submitted PR.

[2017-01-27 16:58] megafinz opened #22 "CaseOf<T> support for arbitrary types"
Is it possible to make General Pattern Matcher to be able to match objects on types apart from values just like Union Pattern Matcher does with it's union cases (via CaseOf<T>)?

[code]

I'm not really sure this is constructive, though, because C# 7.0 can pattern match types with the same purpose (via `swtich`).

[2017-01-28 18:21] DavidArno commented on #22
I agree there's little point in implementing this for `Match ... Exec` statements, as the C# 7 type matching additions to `switch` would cover this. However, there is likely benefit to adding `Match .. Result` expression support in the way you describe. We'll have to wait until at least C# v7.1 for the `match` expression equivalent.

[2017-02-01 08:29] DavidArno commented on #8
Discards are happening in C# 7. This would have the unfortunate affect of any static import of the `Any` type (to enable the use of its `_` construct) of then putting a `_` value in scope and thus preventing the use of discards.

So I shall change the `_` to `any` (and an alternative `__`) for this feature and continue working on it.

[2017-02-02 22:05] DavidArno opened #24 "Fix need to expose UnionCreator<..> classes as public by using interfaces"
The following types:
[code]

All contain the weasel words:

In all three cases, these should be able to be made internal, with a public facing interface, which is the type returned by `Union<...>.Creator()`.

[2017-02-07 17:48] DavidArno commented on #16
Adding breaking change label as the `ITupleMatchable` types will be changed to return a value tuple, rather than the old regular tuple as part of this change.

[2017-02-08 16:37] DavidArno opened #25 "Outstanding work needed for the v2.3.0 release"
Due in no small part to the contributions from @megafinz, v2.3.0 has turned into a significant release with many new features that all need documenting. This issue is my checklist of things that need doing before I can release this version.

- [x] Add implicit conversion from `T` to `Option<T>` (ie, should be possible to create an option of int using `Option<int> x = 1;` as an alternative to using

[2017-03-08 22:42] DavidArno commented on #25
v2.3.0 released.

[2017-03-08 22:42] #25 closed, assigned to nobody

[2017-03-08 22:42] DavidArno commented on #22
v2.3.0 released.

[2017-03-08 22:42] #22 closed, assigned to nobody

[2017-03-08 22:43] DavidArno commented on #19
v2.3.0 released.

[2017-03-08 22:43] #19 closed, assigned to nobody

[2017-03-08 22:43] DavidArno commented on #10
v2.3.0 released.

[2017-03-08 22:43] #10 closed, assigned to nobody

[2017-03-08 22:43] DavidArno commented on #8
v2.3.0 released.

[2017-03-08 22:43] #8 closed, assigned to nobody

[2017-03-08 22:44] DavidArno commented on #7
v2.3.0 released.

[2017-03-08 22:44] #7 closed, assigned to nobody

[2017-03-08 22:45] DavidArno commented on #14
Have concluded (likely through ignorance) that explicit async support isn't needed and that Succinc\<T\> works with async.

[2017-03-08 22:45] #14 closed, assigned to nobody

[2017-03-09 16:28] DavidArno commented on #15
Marking this as a breaking change as I'm removing `public static ConsResult<T> Cons<T>(this IEnumerable<T> collection)` and replacing it with the deconstruct. `ConsResult<T> Cons` will still exist for `IConsEnumerable` though.

[2017-03-21 12:42] DavidArno opened #33 "Restructor the entire project to take advantage of VS2017"
- [x] Move the SuccincT and SuccincT.JSON projects to src and change them to use new csproj files and both to target .net standard 1.1
- [x] Create new build projects for SuccincT that target .net standard 1.45 and 1.6
- [x] Create new build projects for SuccincT.JSON that target .net standard 1.45 and 1.6
- [x] Create appropriate build project to generate all csproj files at build time from metad

[2017-03-28 08:53] DavidArno commented on #33
The master branch is now strictly VS2017-only. All tasks completed.

[2017-03-28 08:53] #33 closed, assigned to nobody

[2017-04-03 22:32] megafinz opened #34 "Comparing Option<T> to null doesn't work as expected"
Consider this code.

    Option<string> a = null;
    var isNull = a == null;

`isNull` equals `false` due to some type conversion magic:

1) Without the explicit type cast, compiler chooses `public static bool operator ==(Option<T> a, Maybe<T> b) => (object) a != null && a.EqualsMaybe(b);` overload for equality operator ([Option{T}.cs](https://github.com/DavidArno/SuccincT/blob/f82e96955f2a808884

[2017-04-12 14:54] DavidArno commented on #34
Looking at the code around the `==` operators for `Option<T>` and `Maybe<T>`, I think maybe I'd had at least ten too many beers when writing that stuff! 😨 It looks like a classic example of "just keep adding more crap until the tests pass".

Time for a serious bit of refactoring...

[2017-05-04 20:50] DavidArno commented on #34
Accidentally checked in the fix for this with [the commit of the 4th May](https://github.com/DavidArno/SuccincT/commit/3aec12c735aba553259607123537300c06e65485). Comparisons between options, maybes and null are greatly simplified.

[2017-05-25 10:51] DavidArno opened #35 "Breaking changes in v3.0.0"
The following changes have been made to v3.0.0, which may break your existing code:

1. `Union<,>.Creator`, `Union<,,>.Creator` and `Union<,,,>.Creator` methods now return an instance of `IUnionCreator<...>`, rather than `UnionCreator<...>`. If you are referring to your creators via a `var`, then no change should be needed. But any explicit references to `Creator` classes will have to be changed t

[2017-05-25 12:31] DavidArno commented on #34
Bug fix included in the v3.0.0 release.

[2017-05-25 12:31] #34 closed, assigned to nobody

[2017-05-25 12:32] DavidArno commented on #24
Included in the v3.0.0 release.

[2017-05-25 12:32] #24 closed, assigned to nobody

[2017-05-25 12:33] DavidArno commented on #16
Included in the v3.0.0 release.

[2017-05-25 12:33] #16 closed, assigned to nobody

[2017-05-25 12:34] DavidArno commented on #15
Included in the v3.0.0 release.

[2017-05-25 12:34] #15 closed, assigned to nobody

[2017-05-25 12:35] DavidArno commented on #11
Included in the v3.0.0 release.

[2017-05-25 12:35] #11 closed, assigned to nobody

[2017-05-25 12:36] DavidArno commented on #9
v3.0.0 now release, so closing this as complete.

[2017-05-25 12:36] #9 closed, assigned to nobody

[2017-05-30 16:37] DavidArno opened #36 "Add cons pattern matching for IEnumerable<T>"
[code]

Requiring `Cons().Do()` to recursively process the collection would be very inefficient. So `RecurseTail` method will be available to allow the collection to be iterated over:
[code]

My initial thoughts on how to best handle this, if `RecurseTail` is used, then we iterate over the elements, storing them in eg a stack and then pop them off one at a time, applying the `Single` match to the

[2017-06-01 15:12] DavidArno opened #37 "Add deconstruct to Option/Maybe to support eg (hasValue, value) = collection.TryFirst(...)"
Based on a suggestion from @pkanavos:

1. Add a deconstruct to `Option<T>` (and `Maybe<T>` if it doesn't just work through implicit casting):
[code]
2. Look at possibly adding similar deconstructs to `Success<T>`, `Either<T1, T2>` and union types.

[2017-06-12 23:48] Opiumtm commented on #34
It's not as simple as it seems.

SQL null comparison rules state that **any** comparison to null value returns `false`.
According to SQL rules, `null = null` check result is `false`.

It's not clear which null comparison standard is "true".

[2017-06-13 00:11] Opiumtm opened #38 "Maybe<T> have reference to Option<T> instance"
https://github.com/DavidArno/SuccincT/blob/master/src/SuccincT/Options/Maybe%7BT%7D.cs

Although `Maybe<T>` appears as struct, it have internal reference to instance of reference type
[code]
Major purpose of structs isn't to avoid "Null reference exceptions". Major purpose of structs is to avoid memory allocations on heap which can be critical under heavy load.

`Option<T>` and `Maybe<T>` are smal

[2017-06-13 09:12] DavidArno commented on #38
@Opiumtm,

Unfortunately, just removing the reference wouldn't achieve much as many features of Succinc&lt;T&gt; return an `Option<T>`, so there would still be a GC overhead of a temporary object from which the struct would be created.

To properly address this, those features would need to change to return `Maybe<T>`. So I'm going to schedule looking at this as part of the V3.2.0 release (the one

[2017-06-13 13:31] megafinz commented on #34
How is that? Why do we care about SQL rules? In CLR world comparing one null reference to another null reference is determined to return "true" (https://github.com/dotnet/csharplang/blob/master/spec/types.md#the-bool-type).

[2017-06-13 14:00] megafinz commented on #38
I'd suggest to write performance benchmark tests first. For example, introduction of singleton value for Option<T>.None() cases significantly improved performance of our code which was creating tens of thousands of those objects. I'm pretty sure turning Option<T> into structs will increase the overhead of passing them around.

[2017-06-13 14:35] megafinz opened #39 "NetStandard Dependencies"
When I try to update SuccincT from 2.3.0 to 3.0.0, I get like 15 new packages as dependencies. Is there a way to avoid that (apart from waiting for NetStandard 2.0 which, I assume, should bring a single package as dependency)?

My app is WPF desktop application that targets .Net Framework.

Maybe this is relevant:
https://stackoverflow.com/questions/42855180/how-to-create-net-standard-nuget-packag

[2017-06-13 15:31] DavidArno commented on #39
Oh, that's disappointing and surprising as one of the reasons I went down the dotnet standard route was to simplify dependencies. Doesn't sound like it worked though.

Thanks for the link, I'll take a look.

[2017-06-13 15:32] DavidArno commented on #38
Good point, @megafinz. I shall do that.

[2017-06-13 16:00] Opiumtm commented on #38
@megafinz as a general rule, small enough structs are considered better than small classes for performance purposes.
It's why `ValueTask` and `ValueTuple` was introduced in C#7.

Often that overhead can be mitigated via passing structs by ref.
C#7 provide extended support for by ref structs passing, allow ref struct locals and ref struct return.

[2017-06-13 16:28] megafinz commented on #38
C#7 provide extended support for by ref structs passing, allow ref struct locals and ref struct return.

Good point, thanks, that simplifies things quite a bit.

[2017-06-13 18:55] DavidArno commented on #38
@Opiumtm,

I'm uncomfortable with the idea of having to replace classes with structs and lots of ref returns as I feel that would complicate things, just to provide performance enhancements. But I shall experiment once v3.1 is released.

Of course, if either you or @megafinz wish to submit any performance tests for me to base my experiments on, then those PR's will be very gratefully received, as

[2017-06-14 10:31] Opiumtm commented on #38
@DavidArno I propose to have two versions of it. After all, there are `Tuple<>` and `ValueTuple<>`, `Task<T>` and `ValueTask<T>` - you understood the idea. Developer would choose what is appropriate in his specific case.

Generally small enough structs such as `Maybe<T>` do not require `ref` to pass data around as this struct is already small and cheap to copy. For the most cases `Maybe<T>` would

[2017-06-14 11:59] Opiumtm opened #40 "Feature request: pattern mathcing and transformation on object trees"
I am using functional approach already in the code which analyze and transform tree-like hierarchical collections (it's transformation of source HTML DOM into Word document paragraphs or internal markup-like representation to display it later on screen).

Naturally, pattern matching is the solution for this class of problems.
There are two basic functional algorithms I use:
1. "Subtree template" p

[2017-06-14 15:01] DavidArno commented on #40
I haven't documented it very well yet, but I think #36 might go at least some way to addressing this. Do you concur, or am I misreading this request?

[2017-06-14 15:52] Opiumtm commented on #40
@DavidArno it isn't recursive pattern matching. Am I wrong?

[2017-06-15 11:33] Opiumtm commented on #40
@DavidArno I may fork `Succinc<T>` and then move some of my "recursive pattern matching" logic to library via pull request. You can modify it to make it more pretty later. It's ok?
That code already is successfully used in production in some of my projects. Just to mention, it's used in Html-to-Microsoft Word component in custom-made human resources management software used at my office.

[2017-06-16 14:59] DavidArno commented on #40
@Opiumtm,

That sounds great. I can't promise which bits I'll include, but real code will help me understand how your proposal might fit in with what I'm already doing, whether yours is a better, or just a different suggestion etc. So "pull request" away 👍

[2017-06-19 07:41] DavidArno commented on #39
So according to that link, I need to target both netstandard1.0 and .NET 4.5, and thus create a nuget package with dll's targeting those two. Then .net framework projects use the latter and so do not pull in all the netstandard dependencies!??!? That seems completely broken to me. This only appears to happen if you are using the old-style csproj files s I'm not seeing this in my test-harness.

I c

[2017-06-19 07:49] megafinz commented on #39
Hm, I'll investigate how to upgrade to the new project file format to see if this helps. Things change quite often now, project.json died even before I had a chance to try it.

[2017-06-19 22:21] megafinz commented on #39
Seems that new csproj format doesn't work for WPF projects at this moment.
http://www.natemcmaster.com/blog/2017/03/09/vs2015-to-vs2017-upgrade/
https://github.com/dotnet/project-system/issues/1467

I'll try Paket to see if that helps to keep reference list sane.

[2017-06-20 07:46] DavidArno commented on #39
@megafinz,

Microsoft's @terrajobst has kindly provided more details of what's going on with netstandard at the moment, [in this answer to that Stack Overflow question you linked to](https://stackoverflow.com/questions/42855180/how-to-create-net-standard-nuget-package-with-minimal-dependencies-in-vs-2017/44640341#44640341).

Assuming I'm reading that answer correctly, the current choices are:

1.

[2017-06-27 07:13] DavidArno commented on #39
@megafinz,

I've pushed a v3.0.1 version to nuget. Would you mind testing it to see if it solves this issue for you, please? If it's OK, I'll then update the docs to make it "public".

[2017-06-27 09:55] megafinz commented on #39
@DavidArno yep, everything is nice. I created a demo project that targets .Net 4.6.1. **SuccincT 3.0.1** brings only one package, **SuccincT 3.0.0** adds 46 more packages as dependencies into `packages.config`.

[2017-06-27 15:57] DavidArno commented on #39
Excellent. Docs updated to make v3.0.1 "official".

[2017-06-27 15:57] #39 closed, assigned to nobody

[2017-06-28 20:38] megafinz commented on #37
What will `value` contain if `hasValue` is `false`?

[2017-06-29 08:12] DavidArno commented on #37
`default(T)` would seem the obvious choice. I'd prefer the idea that its undefined, but `out` parameters have to be set, always, so that isn't an option.

If you think this inherently a bad idea though, I'm open to being convinced to drop it.

[2017-06-29 09:12] megafinz commented on #37
I don't think that's a bad idea, but I feel like it should be consistent with how `Option<T>.Value` behaves. Right now it's determined to throw an exception if `HasValue == false`, so maybe `Option<T>.Value` should return `default(T)` as well in this case.

[2017-06-29 10:59] DavidArno commented on #37
If I changed `Option<T>.Value` to return `default<T>` when there's no value, then that would be a breaking change. So the choices are:

1. Wait until v4 and introduce that breaking change (in reality there need not be a wait, v4 could be the next release, though this would mean creating a major version release though for a minor feature).
2. Add a `Option<T>.ValueOrDefault` property that behaves t

[2017-06-29 12:16] DavidArno commented on #35
Closing this as v3.0.1 has now been released.

[2017-06-29 12:16] #35 closed, assigned to nobody

[2017-06-30 14:28] megafinz commented on #37
`Option<T>.ValueOrDefault` seems legit.

[2017-07-06 15:18] DavidArno opened #41 "Tuple pattern matching is a bit rubbish and needs improving to handle C#7+ value tuples"
Currently, pattern matching on eg `(1, 2)` just uses a  `Matcher<T1, T2, TResult>` matcher, forcing the tuple to be decomposed and supplying the two elements as separate parameters to `Where` and `Do`.

With C# 7.1, and its [Inferred tuple names](https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.1/infer-tuple-names.md) feature this becomes even more of an issue as it ought to be

[2017-08-10 09:06] DavidArno commented on #41
Unfortunately, it turns out that this change isn't possible with C# 7.1. Whilst the example in the OP would work, something like:
[code]
won't work. The type returned by `Match` has to be `T`, not `(T1, T2)`. Using the latter (to enable wildcard support and to constrain the matcher to tuples) means that the item names are still lost, as they are for all tuple expressions in C# 7.

See [this commen

[2017-08-10 09:06] #41 closed, assigned to nobody

[2017-11-22 22:35] Odonno opened #43 "docs: add comparison list to existing features in C#"
It may be interesting to add a grid comparison of features available in functional vs C# in the readme file. Here is a preview (not sure of the correct version) :

| Functional features                	| C# equivalent     	| C# version       	| SuccincT equivalent | SuccincT version |
|-------------------------	|-------------------	|------------------	|------------------	|------------------
| <b>P

[2017-11-22 22:40] Odonno opened #44 "feat: add With() method based on with keywork from F#"
It would be interesting to add immutable syntax using the `with` keyword from F#. Here is a proposal :

[code]

[2017-11-24 09:00] DavidArno commented on #44
Whilst this is in theory achievable, the only way I can think to do this would necessitate a lot of reflection use and so would be slow. I'd question whether it's worth it therefore when [pattern-based `with` expressions](https://github.com/dotnet/csharplang/issues/162) are currently pencilled in for C# 8.

[2017-11-24 09:03] DavidArno commented on #43
Is `Option` really planned for C# 8? Are you referring to nullable reference types?

It's an interesting idea. Not sure about pattern matching though. C# 7's pattern matching support is very limited. So I'd need to break down that down into types of patterns and detail what's covered, where.

Well worth considering though.

[2017-11-24 09:28] Odonno commented on #43
@DavidArno I think you know it better than me. I updated the table so it looks like a corresponding table.

Tell me what is missing so we can complete the table and add it to the docs.

[2017-11-24 09:33] Odonno commented on #44
@DavidArno Indeed, it would use reflection to create a new Immutable object and detect properties to overwrite. I can start with a PR until we have C# 8.

[2017-11-24 09:37] DavidArno commented on #44
PR's are always welcome 😀

[2017-11-30 14:28] DavidArno opened #46 "Preparation for v3.1 release"
The following tasks need completing, in order to release v3.1:

**Coding**
- [x] ~~Add missing tests for `Copy()`~~
- [x] ~~Agree naming/behaviour of `With` and `Copy` with @Odonno and add extra methods as required~~
- [x] Check code against R#'s code inspections and implement any improvements

**Documentation**
- [x] `Deconstruct` for `Option`, `Maybe` and `Success` types
- [x] `ValueOrDefault` f

[2017-12-02 06:57] peter-majeed commented on #46
@DavidArno thanks for pushing this forward! I put together the markup for the documentation of the `Union.Value<TResult>` method. Let me know if I can help out with anything else there.

----

### Imperative Use ###
As an alternative to using a union in a functional style, its value can be directly accessed by more traditional, imperative style C# code. One method and three read-only properties ar

[2017-12-05 13:39] DavidArno commented on #44
Bit slow on the uptake here, but I have just realised that because this feature requires `System.Runtime` it breaks the `netstandard 1.0` version of SuccincT. I could update that to `netstandard 1.5`, but that would be a breaking change.

I am therefore pulling this feature from the v3.1 release and will reschedule it for the v4.0 release (which is allowed to make such breaking changes).

Apologie

[2017-12-05 16:47] Odonno commented on #44
Good to know. I will have some time to make some adjustments on the feature so.

[2017-12-07 21:58] Odonno opened #48 "Generic ValueOrError"
Is it possible to use `ValueOrError<TValue>` or even `ValueOrError<TValue, TError>`?

I mean, what if you want to get a value of a POCO object (as value) and return an Exception (as error)?

[2018-02-08 19:21] peter-majeed commented on #46
@DavidArno is there any way we can help with any of the remaining tasks? We're trying to use the `Case<>` method sooner rather than later, but we'd rather not fork the repo in our private nuget feed.

[2018-02-08 19:33] Odonno commented on #46
Yes. Count me in if you want help to complete this release. Not sure if I can really be helpful but we can discuss about it together.

[2018-02-12 18:41] DavidArno commented on #46
@peter-majeed & @Odonno,

My apologies for the huge delay. I have been tied up in a major house renovation for the last few months and will continue to be tied up until the end of March. As such, I've not really been able to devote any time to SuccincT. However, checking things, I realised that all that was holding up the release was documenting the cons pattern matching. So I've decided to leave

[2018-02-12 18:41] #46 closed, assigned to nobody

[2018-02-13 08:44] DavidArno commented on #37
Added to v3.1

[2018-02-13 08:44] #37 closed, assigned to nobody

[2018-02-13 08:45] DavidArno commented on #36
Added to v3.1. Still needs documenting though.

[2018-02-13 08:46] DavidArno commented on #46
Oh and thanks to you both for your offers of help. Knowing that people cared that much spurred me on to putting a bit of effort in to getting v3.1 out. Thanks, both.

[2018-02-14 15:02] peter-majeed commented on #46
No problem, @DavidArno, things look good here!

[2018-03-06 22:58] gavinSteyn opened #49 "A non-exception Value<T> alternative for unions"
I'd like to be able to get the Value of a union using the syntax of Value<T>() (i.e. using the class name), but without the risk of throwing an exception.  I have 3 approaches in mind, and before I start coding I was hoping you could weigh in on which way I should go.

1. Add a `Option<T> GetValue<T>()` which returns Some if the union is of type T, else None
2. Add a `bool TryGetValue<T>(out value

[2018-03-27 09:07] Odonno commented on #46
@DavidArno I hope you're fine. Can we plan a release date for 4.0?

[2018-03-31 14:16] xlecoustillier commented on #48
I could not agree more with that idea. Looks a lot like [Vladimir Khorikov's Result object](http://enterprisecraftsmanship.com/2015/03/20/functional-c-handling-failures-input-errors/) described in its functional courses.

[2018-03-31 14:25] DeafLight commented on #48
Could not agree more, this looks a lot like [Vladimir Khorikov's Result object](http://enterprisecraftsmanship.com/2015/03/20/functional-c-handling-failures-input-errors/) in his functional courses.

[2018-03-31 15:21] DeafLight opened #51 "Maybe.Some(null) does not throw and has a different behavior than Maybe.None()"
I'm currently testing SuccincT, quite happily so far, but encountered a problem when trying to integrate it in a part of a project I'm working on.
Why is `Maybe<string>.Some(null)` allowed ?

`var someNull = Maybe<string>.Some(null);`

in this case, `someValue.HasValue` returns `true` and `someNull.Value` returns `null`, where I would have expected this to behave the way `Maybe<string>.None()` doe

[2018-04-03 12:19] DavidArno commented on #51
Thanks for reporting this.

I'll mark this as a bug for now, until I have time to properly look at the code to assess why it's like it is and whether it's by design or not and whether that design is sensible or not.

[2018-04-03 12:21] DavidArno commented on #48
Interesting. I hadn't really thought of using `ValueOrError` like that, but it does make sense. So I'll add support for `ValueOrError<TValue, TError>`, I think.

[2018-05-11 12:02] DavidArno opened #52 "SuccincT Roadmap"
@xlecoustillier, @gavinSteyn, @Odonno, @Opiumtm, @megafinz, I'm name checking you all here as you've previously contributed bug reports, suggestions or PRs and so may wish to join in this discussion. Apologies if you are no longer interested.

I've been very quiet regarding SuccincT now for a few months as I've been watching what has happened to C# with the v7.x releases and what's planned for v8,

[2018-05-11 12:29] Odonno commented on #52
@DavidArno I am glad you gave us some news. Here is my reply regarding your library, the roadmap and obviously my interest in it.

First of all, SuccincT is underrated IMO. Bringing functional to C# is clearly interesting and more than useful. Even if C#8 will bring a lot of functional stuff, those who are using C#7 are still in the need. I am advocating it in my own way that will be described in

[2018-05-11 12:41] DavidArno commented on #52
@Odonno,
Thanks for your kind words.

For those that haven't yet seen the Build presentation on the future of C#, you can find it at at https://channel9.msdn.com/Events/Build/2018/BRK2155. It's really worth watching. Especially at the end when Mads talks about records and the team's drive to make C# ever more functional. Left me with with a warm, happy feeling 😀

[2018-05-11 17:20] DeafLight commented on #52
Hi @DavidArno, thanks for the update.

As for the non nullable reference types, in my mind they don't replace Option<T>. While the purpose is almost the same, I feel really more comfortable when getting an Option<T> rather than a Nullable<T>, because of all the functional features, and because null is still a magnet for bugs and defensive code. Plus, it seems that they (NRT) will be a mess to appl

[2018-05-11 17:57] Odonno commented on #52
@xlecoustillier Like you said, `Non-Nullable` should work with `Option<T>` to separate those worlds like F# does.

[2018-05-14 17:23] kgreen24 opened #55 "When will version 3.1.1 be published to NuGet?"
The merged enhancement of adding HasValue<T> to unions is something my team would like to utilize as soon as possible.

Thanks.

[2018-05-15 06:19] DavidArno commented on #55
To be honest, I hadn't planned to. I was going to focus on v4. But since you asked so nicely... 😉

In reality, I have a couple of spare evenings, today and tomorrow. So it should be feasible to create the release during that time for you. I'll therefore create a v3.2 (as your PRs include a new feature).

[2018-05-15 12:37] kgreen24 commented on #55
That's awesome, thank you!

[2018-05-15 12:37] #55 closed, assigned to nobody

[2018-05-16 11:58] Odonno commented on #44
@DavidArno For information, I have made the wiki page for Copy/With functions https://github.com/DavidArno/SuccincT/wiki/Copy---With

[2018-05-18 12:29] DavidArno commented on #55
Hi,

v3.2 is now available on nuget. Please let me know if you have any problems with it.

I went with `HasValueOf<T>` as I felt that fitted better with the `CaseOf<T>` feature in union pattern matching.

[2018-05-20 15:12] Odonno commented on #52
@DavidArno Do we have a release date for 4.0? I would like to get a release by the end of this month if possible.

If you don't want a public release, you can mark your nuget package with a suffix (like `-preview` or `-alpha`).

[2018-05-21 16:14] kgreen24 commented on #52
@Odonno seconded, I recently put in a new method for Unions called HasValueOf, but I realized it's doing strict type checking which I actually don't want, so I am going to put out a PR to convert that to an "is" check.

[2018-05-24 14:30] DavidArno commented on #52
@Odonno, I avoid committing to release dates in my day job, let alone "hobby" stuff 😆

I've been looking into how the pattern matching features will likely work in C# 8. One of the consequences of the way they will work is that [what I'd planned](https://github.com/dotnet/csharplang/issues/1054#issuecomment-388061098) is unsafe as [it relies on behaviour of the prototype compiler, which is not gua

[2018-06-21 08:20] DavidArno commented on #52
Right after much trashing of ideas, here's what I've come up with for handling pattern matching. If I add a two parameter `Deconstruct` method to each of the types - eg for `Union<T1, T2>`, we have:
[code]
\- then it becomes fairly easy to use them in pattern matching:
[code]

So I'm happy I have a solution that doesn't require type hierarchies, thus allowing these types to be converted to structs

[2018-06-21 10:53] DavidArno commented on #51
This was definitely by design. `null` is a valid  value for a string. However, I accept it's arguably flawed design, so I'd be happy to change it ... except what then happens with C# 8 when we have nullable reference types? I'd expect `Maybe<string?>` to definitely accept `null` then, and `Maybe<string>` to throw, but I don't know how that'll work. I need to ask around to see if there's a view amo

[2018-06-21 12:02] DeafLight commented on #51
I get your point, but does a `Maybe<string?>` make sense ? What I mean by that is that as far as I understand the objective of Maybe, `Maybe<string?>.Some(null)` does not mean anything (by definition, null is not "some"). So back to what I was mentioning before, I would go for either throwing in case of `Maybe<string?>.Some(null)`, or maybe (because you're right, null is a valid value for `string?

[2018-06-21 16:23] DavidArno opened #57 "Remove Maybe type and change Option to be a readonly struct"
This is a major breaking change:

1. Any code using `Maybe<T>` will need to change to use `Option<T>`.
2. In line with the conversation in #51, the way `Option<T>` handles `null` changes:
  i. `Option<string>.Some(null)` will throw an `ArgumentNullException`.
  ii. As the type supports implicit casting of `T` to `Option<T>`, casting `null` in this way will result in a `None`:
[code]

[2018-06-21 16:29] DavidArno commented on #51
Well it turns out that the changes I'm making for v4 effectively force my hand here. I've never been happy with having `Option<T>` and `Maybe<T>`, so the latter is going and the former is becoming a struct. To make that play nicely with `null`:
1. Assigning `null` to `Some` will throw,
2. An implicit cast from `null` to an option will result in a `none`,
3. `Option<RefType>.None == null`.

[2018-06-21 23:13] DeafLight commented on #51
Sounds nice!

[2018-06-22 15:54] kgreen24 commented on #52
@DavidArno , do you happen to have a sense of when the next release may be? I'm considering putting out a PR to make the HasValueOf I added to Unions behave polymorphically.

[2018-06-29 06:54] DavidArno commented on #52
@kgreen24,

I've now stripped out the `Maybe` type and turned `Option` into a a struct. The unions now no longer implement `IUnion` and so are now ready to be turned into structs too. So that's the bulk of that restructuring task out the way. So I'm now aiming for mid July (say around the 14th) for the v4 release. No promises though 😉

[2018-06-29 07:03] DavidArno commented on #51
@xlecoustillier, since this topic is of interest to you, I'd like your opinion on a related topic, please.

What should I do with unions? Taking an extreme case, if I create a `Union<int, None>` (not actually possible as I do not expose `None` as a type, but for the sake of argument, let's say I did), it seems reasonable that it should behave the same as `Option<int>` with regards to `null`. But t

[2018-06-29 08:03] DeafLight commented on #51
Interesting question.
From my point of view, `default(Union<T1, T2>)` does not really make sense, as `Union`s (and `Either`s) should always hold exactly one value.
Of course, there is no way to avoid this behavior, even if we could consider this as an error in itself.
In an ideal world, a call to `default(Union<T1, T2>)` should throw or something, but I don't think this is possible.

So I would go

[2018-07-12 08:31] DavidArno opened #58 "Checklist for the v4 release"
List still WIP. Just noting things down as I think of them:

- [x] Remove `Maybe<T>`. See #57
- [x] Convert `Option<T>` and the `Union<>` types to readonly structs. See #57
- [x] Change the way `Succinc<T>` interacts with `null`. See #51.
- [x] Remove Ignore. See #59
- [x] Make `ValueOrError` and `Success` types, readonly (currently just structs).
- [x] Switch the supported framework to netstandar

[2018-07-12 17:43] DavidArno opened #59 "As C# 7 now supports discards, the Ignore function is redundant and should be removed"
Currently, SuccincT supplies the `Ignore` function for ignore the return value from an expression, eg
[code]
However, as of C# 7, there is now support for using discards to achieve this without the overhead of a method call:
[code]
As a result, `Ignore` is no longer useful or needed. Therefore it should be removed from v4.

[2018-07-12 17:45] DavidArno opened #60 "As C# 7 now supports discards, the Ignore function is redundant and should be removed"
Currently, SuccincT supplis the `Ignore` function for ignore the return value from an expression, eg
[code]
However, as of C# 7, there is now support for using discards to achieve this without the overhead of a method call:
[code]
As a result, `Ignore` is no longer useful or needed. It should therefore be removed from v4.

[2018-07-12 17:47] DavidArno commented on #60
Duplicate issue.

[2018-07-12 17:47] #60 closed, assigned to DavidArno

[2018-11-29 14:42] DavidArno opened #62 "Add pattern matching to the Either type"
The `Either<TLeft, TRight>` type doesn't currently support pattern matching.

Add pattern matching support, along the lines of what's available for `Union<T1, T2>`, except that:
1.  `Case1` should be `Left`,
2. `Case2` should be `Right`,
3. `CaseOf<T>` is not needed.

[2019-02-27 21:21] DavidArno commented on #52
OK, as it's been nine months since I last posted to this thread, I thought it long past time for an update:

Status update: "*Succinct isn't dead, it's just deeply confused*".

For many months now, the code for v4 has been pretty much done. `Maybe<T>` is gone, `Option<T>`, `Either`, `Union<...>` etc have all been converted to structs, missing pattern matching functionality added and various submis

[2019-07-16 19:51] pulivarthi55 opened #63 "Runtime Exception of type System.IO.FileNotFoundException"
Working on a .Net project targeting framework netstandard2.0 using SuccincT V3.2.0 library as a reference. At the time of build, I see no issues. But encountering the below runtime exception when code reached the SuccincT usage.

System.IO.FileNotFoundException : 'Could not load file or assembly 'SuccincT, Version=3.2.0.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. The syste

[2019-07-17 07:20] DavidArno commented on #63
Which version of the framework/core are you using at runtime? I'm not at all sure why you get this issue, so I'd like to try and replicate it if possible.

[2019-07-17 13:33] pulivarthi55 commented on #63
Target Framework: .Net Standard
Version: 2.0

[2019-07-18 07:07] DavidArno commented on #63
Sorry, I'm confused by this. I didn't think it possible to execute an app that targets net standard.

Would it be possible to try and create a minimum example of a project that exhibits this behaviour, so I can reproduce it? I've not had issues myself with a netstandard 2.0 library that references SuccincT that is in turn used by eg a framework 4.6.1 app, so I'm unsure why you are having an issue.

[2019-08-23 12:45] DavidArno commented on #63
Closing this issue as there is insufficient info to replicate the reported problem.

[2019-08-23 12:45] #63 closed, assigned to nobody

[2019-08-23 12:52] DavidArno commented on #57
Have abandoned this idea as read only structs are just weird.

[2019-08-24 15:26] SugoiDev commented on #57
Do you have any insight on the weirdness you found?
I was planning some changes on a codebase using readonly structs soon.

[2019-08-27 12:17] DavidArno commented on #57
Well yes, I do. And having gone full circle, I'm re-opening this.

The reason I claimed that readonly structs are weird is due to the distinction between "read only" and "immutable". In C#, `readonly` denotes that the value of that item cannot change. This means that I might have the class,
[code]
The "value" of `_x` can't change, ie it is fixed to referring to the same `List<int>` object. But the

[2019-08-30 10:41] DavidArno commented on #49
Putting a checklist here to keep track of adding this to the new v4:

- [x] Use the names `CaseOf<T>()`, `TryCaseOf<T>()` and `HasCaseOf<T>` to better fit with other such methods.
- [x] Add a `HasCase(Variant variant)` method too
- [x] Add to `Union<T1, T2>`
- [x] Add to `Union<T1, T2, T3>`
- [x] Add to `Union<T1, T2, T3, T4>`
- [ ] Document

[2019-09-06 12:34] DavidArno commented on #57
Adding a checklist here for all the types that can become readonly structs:

- [x] `Any`
- [x] `Either`
- [x] `EitherTuple<T1, T2>` (internal type)
- [x] `EitherTuple<T1, T2, T3>` (internal type)
- [x] `EitherTuple<T1, T2, T3, T4>` (internal type)
- [x] `None`
- [x] `Option<T>`
- [x] `Success<T>`
- [x] `ValueOrError`
- [x] `ValueOrError<TV, TE>`
- [x] `Union<T1, T2>`
- [x] `Union<T1, T2, T3>`
- [x

[2019-09-09 08:59] DavidArno opened #64 "Change enum parsers to use Enum generic constraint"
Currently, `TryParseEnum<T>(this string source)` and `TryParseEnumIgnoringCase<T>(this string source)` use the constraint of `struct` and then test to see if an enum is supplied.

Update these to use the `struct, Enum` constraint instead to remove the need for a check.

[2019-09-10 13:27] DavidArno opened #65 "Add positional pattern matching support to Option<T>"
Add the means to do something like:
[code]
to the Option type via a deconstructor.

Note this will be a breaking change as the current `(hasValue, value)` deconstructor will have to be removed.

[2019-09-11 08:37] DavidArno opened #66 "Add positional pattern matching support to ValueOrError types"
Add the means to do something like:
[code]
to the `ValueOrError` and `ValueOrError<TV,TE>` types via deconstructors.

[2019-09-11 08:40] DavidArno opened #67 "Add positional pattern matching support to Success<T>"
As per pos pattern matching for Option but using Success and Failure somehow.

[2019-09-11 08:42] DavidArno opened #68 "Add positional pattern matching support to Either<TL,TR>"
As per pos pattern matching for Option but using Left and Right somehow.

[2019-09-11 08:43] DavidArno opened #69 "Add positional pattern matching support to Union types"
As per pos pattern matching for Option but using `Variant`. Experiment with `CaseOf<T>` too, though I suspect that won't work.

[2019-10-10 07:12] DavidArno commented on #36
Moved to the v4 milestone as the documentation for this will be released with that release.

[2019-10-10 13:07] DavidArno opened #70 "Investigate adding cons support for async streams"
[Async streams](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-8#asynchronous-streams) are a core 3.0-only feature. So in order to support this, I need to experiment with whether I can use something like:

[code]

to hide files that are core 3.0-only from the compiler when targeting other targets.

A couple of handy links for the csproj stuff for my reference:
https://markheath.ne

[2020-02-17 10:29] DavidArno commented on #69
Done.

[2020-02-17 10:29] #69 closed, assigned to DavidArno

[2020-02-17 10:30] DavidArno commented on #68
Done.

[2020-02-17 10:30] #68 closed, assigned to DavidArno

[2020-02-17 10:30] DavidArno commented on #67
Done.

[2020-02-17 10:30] #67 closed, assigned to DavidArno

[2020-02-17 10:31] DavidArno commented on #66
Done.

[2020-02-17 10:31] #66 closed, assigned to DavidArno

[2020-02-17 10:31] DavidArno commented on #65
Done.

[2020-02-17 10:31] #65 closed, assigned to DavidArno

[2020-02-17 10:31] DavidArno commented on #64
Done.

[2020-02-17 10:31] #64 closed, assigned to DavidArno

[2020-02-17 10:32] DavidArno commented on #62
Done.

[2020-02-17 10:32] #62 closed, assigned to DavidArno

[2020-02-17 10:32] DavidArno commented on #59
Done.

[2020-02-17 10:32] #59 closed, assigned to DavidArno

[2020-02-17 10:34] DavidArno commented on #51
The following was implemented in v4:

An implicit cast from `null` to an option will result in a `none`,
`Option<RefType>.None == null`.

Closing as implemented.

[2020-02-17 10:34] #51 closed, assigned to DavidArno

[2020-02-17 10:35] DavidArno commented on #57
`Maybe<T>` is gone and `Option<T>` is now a read-only struct.

Closing as implemented.

[2020-02-17 10:35] #57 closed, assigned to nobody

[2020-02-17 10:38] DavidArno commented on #49
Need to add details of these methods to the wiki now that v4 is released.

[2020-02-17 10:39] DavidArno commented on #48
Need to document this new type in the wiki now that v4 is released.

[2020-02-17 10:40] DavidArno commented on #38
`Maybe<T>` has been removed and `Option<T>` is now a read-only struct. Closing this as no longer required therefore.

[2020-02-17 10:40] #38 closed, assigned to nobody

[2020-02-17 10:40] DavidArno commented on #58
Closing this now v4 is released. Missing documentation features are now captured in individual issues.

[2020-02-17 10:40] #58 closed, assigned to DavidArno

[2020-02-17 10:42] DavidArno commented on #36
v4 is released, but it still needs documenting.

[2020-02-17 10:42] DavidArno commented on #44
Released with v4.

[2020-02-17 10:42] #44 closed, assigned to nobody

[2020-02-17 10:46] DavidArno commented on #52
A year later … and v4 is finally released. So I'm going to close this issue and open a new one with ideas on where next, or whether this is likely to be the last release (save for bug fixes).

[2020-02-17 10:46] #52 closed, assigned to nobody

[2020-02-18 15:13] DavidArno opened #71 "Remove the use of <T> at the end of Succinc<T>"
It's only me that ever uses Succinc\<T\> as the name of the page. It's difficult to type and its really highly affected nonsense when "SuccincT" works just as well.

So remove all refs to  Succinc\<T\> from the wiki etc and replace with Succinct.

[2020-02-18 15:15] DavidArno commented on #71
It's only me that ever uses Succinc\<T\> as the name of the page. It's difficult to type and its really highly affected nonsense when "SuccincT" works just as well.

So remove all refs to  Succinc\<T\> from the wiki etc and replace with Succinct.

[2021-09-22 15:10] DavidArno opened #72 "Create a new release of SuccincT, targeting .NET 6, with all the redundant features removed"
- [ ] Target .NET 6
- [ ] Remove pattern matching functionality that C# 10 already supports
- [ ] Remove wither functionality if withers feature covers this
- [ ] What else?

[2022-05-22 09:26] emperador-ming commented on #72
Wow, outstanding work so far
Kudos!